@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 20px;
    text-align: center;
}

h1 {
    font-size: 50px;
    margin-bottom: 20px;
    font-family: 'Dancing Script', cursive;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-around;
}

.column {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 30%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    min-height: 500px;
}

h2 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

h6 {
    font-size: 15px;
    
    

}

button {
    background-color: #bbbbbb; 
    color: white;
    font-size: 15px;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: #0077ff; 
    transform: scale(1.1);
}

.task {
    background: #ddd;
    padding: 10px;
    margin: 20px 0;
    border-radius: 5px;
    cursor: grab;
    display: flex;
    align-items: center;
}

.prioridade-baixa {
    border-left: 5px solid green;
    background: #e6f4ea;
}

.prioridade-media {
    border-left: 5px solid orange;
    background: #fff4e6;
}

.prioridade-alta {
    border-left: 5px solid red;
    background: #fdecea;
}