@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 20px;
    text-align: center;
}
header {
    background-image: url('/static/img/cabecalho.png'); 
    background-position: center;
    height: 200px; 
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255); 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 24px;
}
h1 {
    font-size: 70px;
    margin-bottom: 20px;
    font-family: 'Dancing Script', cursive;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-around;
}

.column {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 30%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    min-height: 500px;
    margin-top: 50px;
}

h2 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.task-header h6 {
    flex-grow: 1;
    font-weight: bold;
    text-align: left;
    margin: 0;
}

.task {
    background: #ddd;
    padding: 10px;
    margin: 20px 0;
    border-radius: 5px;
    cursor: grab;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.task-header {
    display: flex;
    align-items: center; 
    width: 100%;
    gap: 5px; 
}


.task-header input {
    margin: 0; 
    vertical-align: middle;
}

.task-header input:checked {
    background-color: #28a745 !important; 
    border-color: #28a745 !important; 
}

.remove-btn {
    background-color: rgb(177, 179, 180);
    color: white;
    font-size: 15px;
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    margin-left: auto; 
}


.remove-btn:hover {
    background-color: rgb(64, 69, 73);
    transform: scale(1.1);
}

.task p {
    margin: 10px 10 0 0; 
    text-align: left;
    width: 100%;
    word-wrap: break-word;
    white-space: pre-wrap;
}

.task {
    background: #ddd;
    padding: 10px;
    margin: 20px 0;
    border-radius: 5px;
    cursor: grab;
    display: flex;
    align-items: center;
}

button {
    background-color: #bbbbbb; 
    color: white;
    font-size: 15px;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: rgb(5, 187, 219);
    transform: scale(1.1);
}


.prioridade-baixa {
    border-left: 5px solid green;
    background: #e6f4ea;
}

.prioridade-media {
    border-left: 5px solid orange;
    background: #fff4e6;
}

.prioridade-alta {
    border-left: 5px solid red;
    background: #fdecea;
}